<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bus.mapper.DriverMapper">
	<select id = "selectByDriverId" resultType = "bus.dto.Driver">
		SELECT * FROM driver WHERE driverid = #{driverid} AND exist = true;
	</select>
	
	<select id = "selectByState" resultType = "bus.dto.Driver">
		SELECT * FROM driver 
		WHERE state = #{state} AND exist = true
		ORDER BY name;
	</select>
	
	<select id = "searchByName" resultType = "bus.dto.Driver">
		SELECT * FROM driver 
		WHERE name LIKE '%' || #{name} || '%' AND exist = true
		ORDER BY name;
	</select>
	
	<select id = "selectByWorking" resultType = "bus.dto.Driver">
		SELECT d.*, a.allocateid, a.cancel_check, a.allo_date FROM 
		(SELECT al.* FROM (SELECT driverid,max(allocateid) allocateid FROM allocate GROUP BY driverid) did
		JOIN allocate al
		ON al.allocateid = did.allocateid) a
		RIGHT JOIN driver d
		ON a.driverid = d.driverid
		WHERE d.state = '근무' AND d.exist = TRUE
		ORDER BY d.name
	</select>

	<insert id = "insertDriver" useGeneratedKeys = "true" keyProperty = "driverid">
		INSERT
		INTO driver (name, birth, join_date, state, exist)
		VALUES
		(#{name}, to_date(#{birth},'YYYY-MM-DD'), to_date(#{join_date},'YYYY-MM-DD'), #{state}, TRUE)
	</insert>
	
	<select id = "selectDriverList" resultType = "bus.dto.Driver">
		SELECT * FROM driver 
		WHERE exist = TRUE
		ORDER BY name
	</select>
	
	<update id = "updateDriver">
		UPDATE driver SET name = #{name}, birth = to_date(#{birth},'YYYY-MM-DD'), join_date = to_date(#{join_date},'YYYY-MM-DD'), state = #{state}
		WHERE driverid = #{driverid}
	</update>
	
	<update id = "deleteDriver">
		UPDATE driver SET exist = FALSE 
		WHERE driverid = #{driverid}
	</update>
</mapper>